.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.fadeInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/trabalhocapa.jpg");
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  padding: 0 2rem;
}

.fadeInContainer h1, .fadeInContainer a {
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  animation: fadeIn 1s;
}

.fadeInContainer a {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
  }
}

.textContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.textContainer section {
  margin: 2rem 0;
}
